body {
  background-image: url('https://c2.staticflickr.com/4/3765/13133515604_0d6797e63c_b.jpg')
}

#nav_bar {
  font-family: Verdana, sans-serif;
  font-size: 16;
  color: #718da5;
  text-align: center;
  position: relative;
  height: 250px;
  width: 125px;
  background-color: #374d5f;
}

.layout {
  display: inline-block;
  color: #80cb23;

}
