body {
  background-image: url('https://c2.staticflickr.com/4/3765/13133515604_0d6797e63c_b.jpg');
}

ul {
  margin: 0;
  padding: 0;
  position: absolute;
}
/*Create a horizontal list*/
li {
  display: inline-block;
  float: left;
  margin-right: 1px;
}

li a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #718da5;
  background-color: #374d5f;
}

li:hover a {
  background: #19c589;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  color: #80c2b3;
  text-align: center;
}

#about {

}
