body {
  background: linear-gradient(45deg, #d8e0de 0%,#aebfbc 11%,#99afab 29%,#8ea6a2 52%,#829d98 71%,#4e5c5a 89%,#0e0e0e 100%);
}

ul {
  margin: 10px;
  padding: 0;

}

/*Create a horizontal list */
.inline-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
}
.inline-list > li {
  list-style: none;
  margin: 0 5px;
}


.menu a {
  display: block;
  text-align: center;
  line-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #718da5;
  background-color: #374d5f;
  white-space: nowrap;
}

.menu a:hover {
  background: #19c589;
  color: darkblue;
}

.menu > li {
  width: 23%;
  max-width: 140px;
}

.section {
  padding: 50vh 0;
}

#home h1{
  font-size: 80px;
  display: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  color: #50786e;
  font-size: 48px;
}

div {
  color: #80c2b3;
  text-align: center;
}

#about p {
  font-size: 26px;
}

p {
  font-size: 28px;
  color: #152365;
}

.image-div {
  margin: 30px;
  padding: 30px;
  display: inline-block;
}

img {
  max-width: 100%;
}

#home {
  position: relative;

}

#home::after {
  content: "";
  background: url(https://c2.staticflickr.com/4/3765/13133515604_0d6797e63c_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#work h1 {
  color: #0d4a4d;
}


/* global styles */


/* extra small only*/
@media (max-width: 767px) {
  body{
    background-color: grey;
  }
  .menu{
    width: 100%;
    height: auto;
  }
  .inline-list > li:hover a {
    background-color: #374d5f;
    color: #718da5;
  }
}

/* small or bigger */
@media (min-width: 768px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* medium or bigger */
@media (min-width: 992px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* medium or bigger */
@media (min-width: 1200px) {
  .menu{
    height: auto;
  }
}

/* extra small and small only */
@media (max-width: 991px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/*small only*/
@media (min-width: 769px) and (max-width: 991px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}


@media (max-width: 767px) {
  ul {

  }
}
