ul {
  margin: 10px;
  padding: 0;
}
/*
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
*/

/*Create a horizontal list */
.inline-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
}
.inline-list > li {
  list-style: none;
  margin: 0 5px;
}


.menu a {
  display: block;
  text-align: center;
  line-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #718da5;
  background-color: #374d5f;
  white-space: nowrap;
}

.menu a:hover {
  background: #19c589;
  color: darkblue;
}

.menu > li {
  width: 23%;
  max-width: 140px;
}

.section {
  padding: 50vh 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  color: #50786e;
  font-size: 48px;
}

div {
  color: #80c2b3;
  text-align: center;
}

#about p {
  font-size: 26px;
}

p {
  font-size: 20px;
}

.image-div {
  margin: 30px;
  padding: 30px;
  display: inline-block;
}

img {
  max-width: 100%;
}
/*
.img-size{
  height: 300px;
  width:450px;
}*/




/* global styles */


/* extra small only*/
@media (max-width: 767px) {
  body{
    background-color: grey;
  }
  .menu{
    width: 100%;
    height: auto;
  }
  .inline-list > li:hover a {
    background-color: #374d5f;
  }
}

/* small or bigger */
@media (min-width: 768px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* medium or bigger */
@media (min-width: 992px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* medium or bigger */
@media (min-width: 1200px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* extra small and small only */
@media (max-width: 991px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/*small only*/
@media (min-width: 769px) and (max-width: 991px) {
  .menu{
    height: auto;
  }
  body{
    background-color: grey;
  }
}


@media (max-width: 767px) {
  ul {

  }
}
