#nav_bar {
  font-family: Verdana, sans-serif;
  font-size: 16;
  color: #718da5;
  text-align: center;
  position: relative;
  height: 250px;
  width: 125px;
  background-color: #374d5f;
}

#layout {
  background: #3f286e;
}
