/* global styles */




/* extra small only*/
@media (max-width: 767px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* small or bigger */
@media (min-width: 768px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* medium or bigger */
@media (min-width: 992px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* medium or bigger */
@media (min-width: 1200px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

/* extra small and small only */
@media (max-width: 991px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}

small only
@media (min-width: 769px) and (max-width: 991px) {
  .menu{
    width: 100%;
    height: auto;
  }
  body{
    background-color: grey;
  }
}


@media (max-width: 767px) {
  ul {

  }
}

ul {
  margin: 0;
  padding: 0;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/*Create a horizontal list */
.inline-list > li {
  list-style: none;
  display: inline-block;
  float: left;
  margin-right: 1px;
}


.inline-list > li a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: #718da5;
  background-color: #374d5f;
}

.inline-list > li:hover a {
  background: #19c589;
}

.section {
  padding: 50vh 0;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  color: #80c2b3;
  text-align: center;
}

#about p {
  font-size: 26px;
}

p {
  font-size: 20px;
}

.image-div {
  margin: 30px;
  padding: 30px;
  display: inline-block;
}

img {
  max-width: 100%;
}
/*
.img-size{
  height: 300px;
  width:450px;
}*/
