body {
  background-color: #f6f6f6;
}

.social-footer {
  width: 100%;
  color: #f2f2f2;
  list-style-type: none;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #1B1B1B;
}

.social-footer > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5em;
}

.social-footer > ul > li {
  padding: 0 0.5em;
}
