body {
  background-image: url('https://c2.staticflickr.com/4/3765/13133515604_0d6797e63c_b.jpg')
}

#nav_bar {
  vertical-align: top;
  display: inline;
  font-family: Verdana, sans-serif;
  font-size: 16;
  color: #718da5;
  text-align: center;
  height: 50px;
  width: 500px;
  background-color: #374d5f;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  color: #80c2b3;
  text-align: center;
}

#about {

}
